.custom-alert {
  color: var(--dark-text);
  border-radius: 5px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: center;
}
.custom-alert.danger {
  background-color: var(--alert-bg-color);
  color: var(--light-text);
}
.custom-alert.success {
  background-color: var(--minus10-light-bg-color);
}
.custom-alert.warning {
  background-color: var(--info-bg-color);
}
.pop-box {
  border: 1px solid var(--secondary);
  border-radius: 5px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--minus10-light-bg-color);
  color: var(--dark-text);
  margin-top: 5px;
  margin-bottom: 5px;
}
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.page-numbers {
  height: 50px;
  background-color: pink;
}
.page-navigation {
  display: inline;
  background-color: blue;
  /* position: relative;
  border: 1px solid var(--secondary);
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  padding-right: 5px;
  padding-left: 5px; */
}
